.bar {
	background-color: #333333;
}

.content {
	max-width:500px;
	margin: 0 auto;
}

.title {
	color: #fff;
}

select {
	float: left;
	width: 65%;
	height: 100%;
	padding-left: 0;
	margin-bottom: 0;
	border: 0;
}

.centered {
	text-align: center;
}

//Stats Stuff
.recent {
	font-size: 20px;
}

.statscolor {
	width: 50px;
	height: 20px;
	float:right;
}